* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: all 0.4s ease-in-out;
}

:root {
  --color-primary: #0c0e14;
  --color-secondary: #135f9e;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --pad: max(20px, 4vmin);
}

/* Scrollbar Styles */
*::-webkit-scrollbar {
  width: 5px;
  border-radius: 20%;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-grey-2);
  border-radius: 20%;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-4);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-grey-3);
}
/*Header Styles*/
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

.light-mode {
  --color-primary: #FFFFFF;
  --color-secondary: #135f9e;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #12181b;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f8f8f8;
  --color-grey-6: #12181b;
}
.light-mode .page-content {
  background-color: var(--color-primary);
  box-shadow: var(--color-grey-3) 0px 0px 15px 0px;
  color: #000;
}

.light-mode .title h2 {
  color: var(--color-grey-6);
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}
.light-mode .projects-list{
  box-shadow: none;
}


body {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: var(--color-primary);
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all .6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the body takes the full viewport height */
  margin: 0; /* Remove default margin */
  overscroll-behavior: none;
  text-size-adjust:auto;
}

.frame {
  position: absolute;
  z-index: 10;
  left: 5vw;
  right: 5vw;
  top: 5vh;
  bottom: 5vh;
  mix-blend-mode: difference;
  pointer-events: none;
}

.frame_line {
  position: absolute;
  background-color: #fff;
  opacity: 1;
}

.frame_line-left {
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
}

.frame_line-right {
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
}

.frame_line-top {
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
}

.frame_line-bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}

a {
  display: inline-block;
  text-decoration: underline;
  color: inherit;
  font-family: inherit;
}

section {
  display: flexbox; /* Use Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  transition: all .4s ease-in-out;
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: flex;
  animation: fade 1s linear;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Ethan Ziegler Header*/
.header-content {
  box-shadow: var(--color-grey-5) 0px 0px 15px 0px;
  border-radius: var(--pad);
  padding: var(--pad);
  font-weight: 300;
  position: absolute; /* Change to fixed for positioning */
  top: 10dvh; /* Position at the top of the screen */
  left: 50dvw; /* Center horizontally */
  transform: translate(-50%); /* Center horizontally */
  display: flexbox;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  transition: all .4s ease-in-out;
}
@media screen and (max-width: 768px) {
  .header-content {
    left: 50%;
    transform: translateX(-50%);
  }
}
.header-content h2 {
  position: relative; 
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  font-size: 2vw;
  color: var(--color-grey-1);
  justify-content: center;
  @media screen and (max-width: 768px) {
    font-size: 5dvw;
  }
}

.header-content h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the bg-text */
  z-index: -1;
  color: var(--color-grey-1);
  font-size: 2.5vw;
  opacity: 0.2;
  width: 70vw;
  @media screen and (max-width: 768px) {
    font-size: 6vw;    
  }
}
.title {
  position:absolute;
  transition: all .4s ease-in-out;
  top:20dvh;
  right:30dvw;
  @media screen and (max-width: 768px) {
    right:35dvw;
  }
}
.title h2 {
  transition: all 0.4s ease-in-out;
  position: fixed;
  text-transform: uppercase;
  font-size: 4vh;
  color: var(--color-grey-1);
}

/* Page Content */
.page-content {
  background-color: var(--color-primary);
  border-radius:var(--pad);
  opacity: 1;
  padding: var(--pad);
  box-shadow: var(--color-grey-5) 0px 0px 15px 0px;
  color: var(--color-grey0);
  position: relative; /* Change to relative for Flexbox centering */
  display: flex; /* Use Flexbox for internal content alignment */
  font-weight: 500;
  text-align: left;
  transition: all .4s ease-in-out;
  max-width: 30dvw;
  max-height: 30dvh;
  line-height: 1.5;
  @media screen and (max-width: 768px) {
    right: -15dvw;
    max-width: 60vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
/* About Me */
.aboutme{
  font-size: 1dvw;
  max-height: 60dvh;
  max-width: 50dvw;
  @media screen and (max-width: 768px) {
    font-size: 2.5vw;
    max-width: 90dvw;
    max-height: 90dvh;
  }
}
/* Q&A */
.qna-title{
  position:flex;
  display: flexbox;
  transition: all .4s ease-in-out;
  top:20dvh;
  right:30dvw;
  @media screen and (max-width: 768px) {
    top:29dvh;
    right:50dvw;
  }
}
.qna{
  padding: 2dvh 2dvw;
  top: 10dvh;
  display: block;
  overflow-y: none;
  max-height: 60dvh;
  @media screen and (max-width: 768px) {
    top: 0dvh
  }
}

.page-content .question {
  font-size: 1;
  font-weight: bold;
  text-decoration: underline;
  @media screen and (max-width: 768px) {
    font-size: 3dvw;
  }
}
.page-content .answer {
  margin-bottom: 1.5vh;
  font-size: 1.2vw;
  @media screen and (max-width: 768px) {
    font-size: 2.5vw;
  }
}
.page-content .a-3{
  margin-bottom: -2vh;
}

/* Projects */
.projects-title{
  position:absolute;
  display: block;
  transition: all .4s ease-in-out;
  top:20dvh;
  right:30dvw;
  overflow-y: scroll;
  @media screen and (max-width: 768px) {
    top:29dvh;
    right:50dvw;
  }
}
.projects-list{
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: right; /* Align project titles to the left */
  align-items: center;
  scroll-behavior: smooth;
  overflow-y: auto;
  max-height: 50dvh;
  right: -30dvw;
  @media screen and (max-width: 768px) {
    max-height: 80vh;
    right: -15dvw;
  }
}

.project-name{
  text-decoration: underline;
  text-align: right;
}
.project-name:hover{
  color: var(--color-secondary);
  cursor: pointer;
}

.project-desc{
  text-align: right;
  margin-bottom: 3vh;
  font-size: 1.2vw;
  @media screen and (max-width: 768px) {
    font-size: 1.9vw;
    max-width: 90vw;
    max-height: 90vh;
  }
}
.projectdesc2{
  margin-bottom: -2vh;
}

/*Skills*/
.skills-title{
  position:absolute;
  display: block;
  transition: all .4s ease-in-out;
  top:30dvh;
  right:53dvw;
  @media screen and (max-width: 768px) {
    top:20dvh;
    right:60dvw;
  }
}
.skill-bar {
  width: calc(40% - 10px);
}

.skill-bar li {
  width: 100%;
  padding: 10px;
}

.skill-bar p {
  color: var(--color-grey-1);
  font-weight: bold;
  margin: 10px;
}

.skill-bar .bar {
  width: 100%;
  height: 15px;
  background-color: #272c30;
  border-radius: 20px;
}

.active-bar {
  background-color: var(--color-secondary);
  height: 100%;
  width: auto;
  border-radius: 20px;
}

/* Contact */
.contact .page-content{
  @media screen and (max-width: 768px) {
    right: -31dvw;
    max-width: 60vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.contact-links{
  display: flex;
  position:relative;
  flex-direction: column;
  align-items:center;
  font-size: 2dvw;
  @media screen and (max-width: 768px) {
    font-size: 5dvw;
  }
}

.contact-links a {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-grey-2);
  padding-bottom: 10px;
  text-decoration: none;
  color: var(--color-grey-1);
}
.contact-links a:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

/* Light/Dark Mode Button */
.lightdark {
  position: absolute;
  z-index: 10;
  bottom: 6vh;
  right: 6vw;
  display: flex;
}
.lightdark .ld-button {
  padding: 1vh;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 5.5vh;
  height: 5.5vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7vh 1vh;
  box-shadow: 0 3px 15px var(--color-grey-5);
}

.lightdark .ld-button .ld-btn {
  font-size: 2.5vh;
  color: white;
  pointer-events: none;
}

/* Navigation Buttons */
.nav-btn-container {
  position: fixed;
  z-index: 10;
  top: 50vh;
  left: 11vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%,-50%);
  @media screen and (max-width: 768px) {
    left: 15vw;
  }
}

.nav-btn-container .active-nav-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}

.nav-btn-container .nav-btn {
  border-radius: var(--pad);
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7vh 1vh;
}
.nav-btn-container .nav-btn .nav-btn-text {
  color: var(--color-grey-1) !important;
  transition: all 0.4s ease-in-out;
  font-size: 1.2dvw;
  font-weight: bold;
  pointer-events: none;
  @media screen and (max-width: 768px) {
    font-size: 2dvw;
  }
}

/* Particle Background */
.particles-js {
  z-index: -10;
  position: fixed;
  top: 50%;
  left: 50%; 
  width: 90vw;
  height: 90vh;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=styles.css.map */